body {
    /* 讓 header 服貼置頂 */
    margin: 0;
    padding: 0;

    background-color: rgba(0, 0, 0, 0.733);
}

header {
    width: 100%;
    height: 5%;
    background-color: #45352B;

    /* 讓文字置中 */
    display: flex;
    align-items: center;
}
#headerText {
    color: white;
}

.Snake {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
}


.appearBorder {
    border: solid 2px red;
}
